@import url("https://fonts.googleapis.com/css?family=PT+Sans");
@import url("https://fonts.googleapis.com/css?family=Bree+Serif");
.card {
  width: 300px;
  height: 450px;
  background: #000;
  font-family: "PT Sans", sans-serif;
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  text-align: center;
}

.card .poster {
  position: relative;
  overflow: hidden;
}

.card .poster::before {
  content: "";
  position: absolute;
  bottom: -220px;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(0deg, #000 50%, transparent);
  transition: 0.5s;
  z-index: 1;
}

.card:hover .poster::before {
  bottom: 0;
}

.card .poster img {
  width: 100%;
  height: 450px;
  transition: 0.5s;
}

.card:hover .poster img {
  filter: blur(5px);
  transform: translateY(-50px);
}

.description {
  position: absolute;
  padding: 20px;
  width: 100%;
  height: 83%;
  bottom: -220px;
  left: 0;
  box-sizing: border-box;
  transition: 0.5s;
  z-index: 2;
}

.card:hover .description {
  bottom: 0;
}

.description .movie-title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
}

.description .movie-title h2 {
  color: #fff;
  margin: 0;
  padding: 0;
  font-size: 20px;
  width: 260px;
  margin-bottom: 20px;
  font-family: "Bree Serif", serif;
}

.description .director {
  font-size: 14px;
  color: #ff9800;
}

.description .rating_bloc {
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating {
  position: relative;
  padding: 5px 0;
}

.rating .fa {
  color: #f7f406;
  margin-right: 2px;
  font-size: 16px;
}

.description .rating_bloc span {
  color: #fff;
  padding: 0 5px;
}

.information {
  color: #fff;
  text-align: justify;
}

.information p {
  margin: 15px 0 10px;
}
